@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 56px 0 0px;
}

section {
  padding: 50px 0;
}

#head-katering{
  background: url('../img/nasikuning.jpg') no-repeat center center/cover;
}

#head-event{
  background: url('../img/lauk.jpg') no-repeat center center/cover;
  
}
#head-gift{
  background: url('../img/lauk.jpg') no-repeat center center/cover; 
}


.description{
  padding: 30vh 0;
}

.small-container{
  padding:50px
}

@media (max-width: 640px) and (min-width: 480px) {
  .description{
    padding: 10vh 0;
  }
}
